@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1> 

I am Jhon Lester Casinillo from sta cruz tapilon daanbantayan cebu Philippines.<br /> 
Languages i know : <br />
1.C <br>2.Java <br>3.Japanese <br>4.Php <br />

Welcome to My Portfolio.
